<ion-header>
  <ion-toolbar class="head">
  	<ion-button slot="start" style="min-width:45px; color: green;">
      <ion-back-button default ref="/home">
      </ion-back-button>
    </ion-button> 
    <ion-title>WELCOME TO HOTEL DEL LUNA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contents">
	<ion-card class="aboutbox">
			<ion-card-header class="p">About Us</ion-card-header>
			<ion-card class="aboutcont">
				<h3>&nbsp;&nbsp;Right at the heart of the Bislig, Tanaunan in Leyte, Hotel Del Luna offers the best service boasting of outdoor swimming pool, several dining options, and free Wifi throughout the property. Fully furnished rooms available for all types of occasion and family size, fitted with a flat-screen TV with cable channels, and air conditioning. Every room is equipped with a private bathroom with shower or bath facilities, slippers and free toiletries.<br> 

				&nbsp;&nbsp;At the hotel, guest can experience the taste of delicious International and Philippine cuisine right at their table. Indulge on the variety of seafood and meat dishes on buffet style or enjoy the night having drinks with friends and family on retrobar.<br>

				&nbsp;&nbsp;Celebrate special occasion in one of the hotel’s conference room. It is perfect for birthdays, receptions, debut, retirement parties, baby showers, and team buildings.<br>  

				&nbsp;&nbsp;Relax and enjoy your day with Hotel Del Luna's best service. We’ll be waiting for you!</h3>
			</ion-card>
			<ion-card class="aboutcon">
			<h2>HOTEL FACILITIES</h2>
			<h4>&nbsp;*Complimentary Onsen Spa &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;*Complimentary Guest Car Parking &nbsp; &nbsp; *Complimentary Welcome Snack <br> &nbsp;*Complimentary High Speed Wifi &nbsp; &nbsp;*Fitness Centre &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;*Conference Facilities &nbsp; &nbsp; <br>&nbsp;*Laundry Facilities &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; *Tea and Coffee making facilities &nbsp; &nbsp;*Bestspoke Toiletries &nbsp; &nbsp; &nbsp;*Full Kitchen and Washing Facilities</h4>

			</ion-card>
			
	</ion-card>

</ion-content>
