<ion-header>
  <ion-toolbar class="head">
  	<ion-button slot="start" style="min-width:45px; color: green;">
      <ion-back-button default ref="/home">
      </ion-back-button>
    </ion-button> 
    <ion-title>WELCOME TO HOTEL DEL LUNA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contents">
<div class="contactbox">
			<h1>Contact Us</h1>
			<h3>For further inquiries or reservation kindly give us a ring at: </h3>

			<div class="container1">
				<img src="/assets/img/fb3.png">
				<i><h4>Hotel Del Luna</h4></i>
			</div>
			<div class="container2">
				<img src="/assets/img/email.png">
				<i><h4>hoteldelluna@gmail.com</h4></i>
			</div>
			<div class="container3">
				<img src="/assets/img/insta2.png">
				<i><h4>@hotel_delluna</h4></i>
			</div>
			<div class="container4">
				<img src="/assets/img/phone4.png">
				<i><h4>09107092031</h4></i>
			</div>
			
	</div>

</ion-content>
