.head{
	  --background:  rgb(167, 141, 138);
	  color: white;
	  font-weight: bolder;
	  font-size: 15%;
	  font-family: sans-serif;
	 }
.contents{
		--background: #bf914b;
	}
ion-button{
		--background: #062f77;
		}