ion-item{
    --background: white;
    --color: blue;
    font-weight: bolder;
}
ion-button{
    --background: #062f77;
}
a{
    color: #4e1860;

}
h6{
  padding-left: 70px;
}
#admin{
  padding-left: 160px;
}
#form {
    margin-top: 45px;
    padding-left: 30px;
    padding-right: 30px;

  }

.contents{
    --background: #bf914b;
  }
     
    .head{
    --background:  rgb(167, 141, 138);
   }