<ion-header>
  <ion-toolbar class="head">
    <ion-button slot="start" style="min-width:45px;">
      <ion-back-button default ref="/home">
      </ion-back-button>
    </ion-button> 
  </ion-toolbar>
</ion-header>

<ion-content class="contents">
	<div class="container">
		<div class="fcontainer">
			<img src="/assets/img/h1.jpg">
		</div>
		<div class="scontainer">
		<center><p style="font-family: Georgia; ">Classic Studio</p></center>
		<h5>&nbsp;&nbsp;Accomodates: 2  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Beds: 1 King</h5>
		<p style="font-family: sans-serif; font-size: 20px; font-weight: bolder; margin-left: 5%;">AMENITIES &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Per Night: 15000</p>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Wifi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Safe</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* 49" HDTV &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Luxury Rainshower</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Telephone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Luxury Bathroom</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Onsen Spa Wellness &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Workplace</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Coffee & Tea Maker &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Buffet Breakfast</h6>
		<center><ion-button class="but" routerLink="/rm-classic">Book Now</ion-button></center>
		</div>

	</div>
		<div class="container">
		<div class="fcontainer">
			<img src="/assets/img/h2.jpg">
		</div>
		<div class="scontainer">
		<center><p style="font-family: Georgia; font-weight: bolder;">Indulgence</p></center>
		<h5>Accomodates: 2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Beds: 1 King</h5>
		<p style="font-family: sans-serif; font-size: 20px; font-weight: bolder; margin-left: 5%;">AMENITIES &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Per Night: 18000</p>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Wifi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Safe</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* 49" HDTV &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Luxury Rainshower</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Telephone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Luxury Bathroom</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Onsen Spa Wellness &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Workplace</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Coffee & Tea Maker &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Buffet Breakfast</h6>
		<center><ion-button class="but" routerLink="/rm-indulgence">Book Now</ion-button></center>
		</div>
		
	</div>
	<div class="container">
		<div class="fcontainer">
			<img src="/assets/img/h3.jpg">
		</div>
		<div class="scontainer">
		<center><p style="font-family: Georgia;">Prestige</p></center>
		<h5>Accomodates: 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Beds: 2 Queen</h5>
		<p style="font-family: sans-serif; font-size: 20px; font-weight: bolder; margin-left: 5%;">AMENITIES &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Per Night: 20000</p>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Wifi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Safe</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* 49" HDTV &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Luxury Rainshower</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Telephone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Luxury Bathroom</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Onsen Spa Wellness &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Workplace</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Coffee & Tea Maker &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Buffet Breakfast</h6>
		<center><ion-button class="but" routerLink="/rm-prestige">Book Now</ion-button></center>
		</div>

	</div>
	<div class="container">
		<div class="fcontainer">
			<img src="/assets/img/h4.jpg">
		</div>
		<div class="scontainer">
		<center><p style="font-family: Georgia;">Executive Prestige Twin</p></center>
		<h5>Accomodates: 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Beds: 2 Double</h5>
		<p style="font-family: sans-serif; font-size: 20px; font-weight: bolder; margin-left: 5%;">AMENITIES &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Per Night: 25000</p>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Wifi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Safe</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* 49" HDTV &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Luxury Rainshower</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Telephone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Luxury Bathroom</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Onsen Spa Wellness &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Workplace</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Coffee & Tea Maker &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Buffet Breakfast</h6>
		<center><ion-button class="but" routerLink="/rm-twin">Book Now</ion-button></center>
		</div>

	</div>
	<div class="container">
		<div class="fcontainer">
			<img src="/assets/img/h6.jpg">
		</div>
		<div class="scontainer">
		<center><p style="font-family: Georgia;">Premiere Suite</p></center>
		<h5>Accomodates: 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Beds: 1 King</h5>
		<p style="font-family: sans-serif; font-size: 20px; font-weight: bolder; margin-left: 5%;">AMENITIES &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Per Night: 22000</p>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Wifi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Safe</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* 49" HDTV &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Luxury Rainshower</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Telephone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Luxury Bathroom</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Onsen Spa Wellness &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Workplace</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Coffee & Tea Maker &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Buffet Breakfast</h6>
		<center><ion-button class="but" routerLink="/rm-premiere">Book Now</ion-button></center>
		</div>

	</div>
	<div class="container">
		<div class="fcontainer">
			<img src="/assets/img/h5.jpg">
		</div>
		<div class="scontainer">
		<center><p style="font-family: Georgia;">1-Bedroom Executive Suite</p></center>
		<h5>Accomodates: 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Beds: 1 King</h5>
		<p style="font-family: sans-serif; font-size: 20px; font-weight: bolder; margin-left: 5%;">AMENITIES &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Per Night: 30000</p>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Wifi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Safe</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* 49" HDTV &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Luxury Rainshower</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Telephone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Luxury Bathroom</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Onsen Spa Wellness &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Workplace</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Coffee & Tea Maker &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Buffet Breakfast</h6>
		<center><ion-button class="but" routerLink="/rm-executive">Book Now</ion-button></center>	
		</div>

	</div>
		<div class="container">
		<div class="fcontainer">
			<img src="/assets/img/h7.jpg">
		</div>
		<div class="scontainer">
		<center><p style="font-family: Georgia;">2-Bedroom Junior Suite</p></center>
		<h5>Accomodates: 4&nbsp;&nbsp;Beds: 1 King per Room</h5>
		<p style="font-family: sans-serif; font-size: 20px; font-weight: bolder; margin-left: 5%;">AMENITIES &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Per Night: 32500</p>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Wifi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Safe</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* 49" HDTV &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Luxury Rainshower</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Telephone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Luxury Bathroom</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Onsen Spa Wellness &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Workplace</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Coffee & Tea Maker &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Buffet Breakfast</h6>
		<center><ion-button class="but" routerLink="/rm-junior">Book Now</ion-button></center>
		</div>

	</div>
	<div class="container">
		<div class="fcontainer">
			<img src="/assets/img/h9.jpeg">
		</div>
		<div class="scontainer">
		<center><p style="font-family: Georgia;">Pool Side Suite</p></center>
		<h5>Accomodates: 4&nbsp;&nbsp;&nbsp;Beds: 2 Queen Beds</h5>
		<p style="font-family: sans-serif; font-size: 20px; font-weight: bolder; margin-left: 5%;">AMENITIES &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Per Night: 35000</p>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Wifi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Safe</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* 49" HDTV &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Luxury Rainshower</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Telephone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Luxury Bathroom</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Onsen Spa Wellness &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Workplace</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Coffee & Tea Maker &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Buffet Breakfast</h6>
		<center><ion-button class="but" routerLink="/rm-pool">Book Now</ion-button></center>
		</div>

	</div>
	<div class="container">
		<div class="fcontainer">
			<img src="/assets/img/h8.jpg">
		</div>
		<div class="scontainer">
		<center><p style="font-family: Georgia;">Standard Suite</p></center>
		<h5>Accomodates: 1&nbsp;&nbsp;&nbsp;Beds: 1 Single Bed</h5>
		<p style="font-family: sans-serif; font-size: 20px; font-weight: bolder; margin-left: 5%;">AMENITIES &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Per Night: 10000</p>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Wifi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Safe</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* 49" HDTV &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Luxury Rainshower</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Telephone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Luxury Bathroom</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Onsen Spa Wellness &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Workplace</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;* Coffee & Tea Maker &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Buffet Breakfast</h6>
		<center><ion-button class="but" routerLink="/rm-standard">Book Now</ion-button></center>	
		</div>

	</div>

</ion-content>
