<ion-header>
  <ion-toolbar class="head">
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="contents">
	<div class="container">
		<div class="fcontainer">
			<img src="/assets/img/avail.png">
		</div>
		<div class="scontainer">
			<p>Available Rooms</p>
		</div>
		<div class="tcontainer">
			<ion-input type="text" shape="round" value="20"></ion-input>
		</div>

	</div>
		<div class="container">
		<div class="fcontainer">
			<img src="/assets/img/occu.jpg">
		</div>
		<div class="scontainer">
			<p>Occupied Rooms</p>
		</div>
		<div class="tcontainer">
			<ion-input type="text" shape="round" value="00"></ion-input>
		</div>
		
	</div>
	<div class="container">
		<div class="fcontainer">
			<img src="/assets/img/unres.jpg">
		</div>
		<div class="scontainers">
			<p>Unconfirmed Reservations</p>
		</div>
		<div class="tcontainer">
			<ion-input type="text" shape="round" value="00"></ion-input>
		</div>
		
	</div>
	<div class="container">
		<div class="fcontainer">
			<img src="/assets/img/res.jpg">
		</div>
		<div class="scontainer">
			<p>Reserved Rooms</p>
		</div>
		<div class="tcontainer">
			<ion-input type="text" shape="round" value="00"></ion-input>
		</div>
		
	</div>
</ion-content>
